.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

.nav {
    display: flex;

    justify-content: center;
}

.ua-eng {
    display: flex;
    align-items: center;
    padding-left: 73px;
}

.container {
    width: 1100px;
    margin: 0px auto;
}

.li-header {
    color: rgb(199, 199, 199);
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.ul-header {
    display: flex;
    gap: 29px;
    align-items: center;

}

.header-content {
    display: flex;

    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.frame-benefits-advantages-revi-child {
    background-color: rgb(1, 45, 99);

}

.icon-swoosh {
    width: 100px;
    height: 60px;

}

.ua-eng-ul {
    display: flex;
    gap: 10px;
}

.li-uaeng {
    display: flex;
    color: rgb(199, 199, 199);
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-header {
    display: flex;
}

.ul-header li:first-child {
    color: rgb(255, 255, 255);
}

.ua-eng-ul .li-uaeng:nth-child(2) a {
    color: rgb(255, 255, 255);

}

.group-reviews {
    background: url(./images/image-nike.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 94px;
    padding-bottom: 184px;


}

.frame-c-r {
    color: white;

}

.nike-icon-main {
    width: 160px;
    height: 120px;
}

.colorawe {

    font-family: "Playfair Display";
    font-size: 144px;
    font-weight: 400;
    line-height: 192px;
    letter-spacing: 0%;

}

.r {

    font-family: "PT Serif";
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;


}


.benefits-advantages-reviews-fr {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.rectangle-parent {
    border-radius: 10px;
    background: rgb(142, 50, 198);
    font-family: "Roboto";
    display: flex;
    padding: 20px 60px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.on-this-site-container {
    padding-bottom: 41px;
}




.your-dream-nike {

    font-family: "Playfair Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;

}

#two-back {
    background: url(./images/background-image.png) no-repeat center / cover;
}

.two-sect {
    padding-top: 105px;
    padding-bottom: 105px;
}

.info-buy {
    display: flex;
    border: 5px solid #8E32C6;
    justify-content: center;
    gap: 50.5px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.buyer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyer-info > h5 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 500;
    color: white;
    margin: 0px;
    text-align: center;
}

.buyer-info:nth-child(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-left: 94.5px;
    padding-right: 95.5px;
}

.reviews1 {
    display: flex;
   text-align: center;
    color: rgb(255, 255, 255);
font-family: "Playfair Display";
font-size: 48px;
font-weight: 400;
line-height: 64px;


}




#reviews {
    background-image: url(./images/flowers.png), url(./images/background-image.png);
    background-position:  left bottom, center ;
    background-size: 340px, cover ;
    background-repeat: no-repeat;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 114px;
}

#review-title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: white;
    font-weight: 300;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 50px 15px 29px 15px;
    border-radius: 15px; 
}

.card:nth-child(1) {
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(123, 84, 179),0px 30px 0px -13px rgb(83, 57, 120);
    background: linear-gradient(135.00deg, rgb(0, 229, 230) 7.292%,rgb(0, 168, 247) 26.042%,rgb(154, 118, 249) 62.5%,rgb(204, 94, 194) 100%);
   
}

.card:nth-child(2) {
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(145, 89, 177),0px 30px 0px -13px rgb(97, 51, 124);
    background: linear-gradient(135.00deg, rgb(255, 104, 180) 0%,rgb(255, 69, 225) 26.042%,rgb(206, 58, 255) 62.841%,rgb(137, 97, 255) 100%);;
}

.card:nth-child(3) {
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(185, 90, 76),0px 30px 0px -13px rgb(115, 47, 38);
    background: linear-gradient(135.00deg, rgb(255, 225, 40) 0%,rgb(255, 155, 92) 30.208%,rgb(255, 131, 129) 63.286%,rgb(255, 84, 137) 100%);
}

.card > p {
    width: 228px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
}

.card > span {
    color: rgb(216, 216, 216);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.autor {
    display: flex;
    align-items: center;
    padding-top: 47px;
    gap: 10px;
}

.autor > img {
    height: 30px;
    width: 30px;
}

.autor-content > h6 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.autor-content > p {
    margin: 0px;
    color: rgb(216, 216, 216);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.form-nike {
    background: url(./images/background-palm.png) ;
    background-position: center;
    background-size: cover;
}

.order1 {
    color: rgb(255, 255, 255);
font-family: "Playfair Display";
font-size: 48px;
font-weight: 400;
line-height: 64px;
background-size: cover;
display: flex;
justify-content: center;
padding-top: 21px;
}

.write-email {
 display: flex;
    border-radius: 50px;
align-items: center;
padding-left: 25px;
background: rgb(255, 255, 255);

width: 690px;
height: 60px;
color: rgb(149, 149, 149);
font-family: "Roboto";
font-size: 28px;
font-weight: 400;
line-height: 33px;
margin-top: 33px;
margin-bottom: 19px;
}

.personal-info-frame {
    display: flex;
   
  flex-direction: column;
  align-items: center;
} 
.write-country{
    display: flex;
    border-radius: 50px;
align-items: center;
padding-left: 25px;
background: rgb(255, 255, 255);

width: 580px;
height: 50px;
color: rgb(149, 149, 149);
font-family: "Roboto";
font-size: 24px;
font-weight: 400;
line-height: 28px;
margin-bottom: 19px;
}
.write-city {
    display: flex;
    border-radius: 50px;
align-items: center;
padding-left: 25px;
background: rgb(255, 255, 255);

width: 580px;
height: 50px;
color: rgb(149, 149, 149);
font-family: "Roboto";

font-size: 24px;
font-weight: 400;
line-height: 28px;
margin-bottom: 19px;

}
.write-address {
    display: flex;
    border-radius: 50px;
align-items: center;
padding-left: 25px;
background: rgb(255, 255, 255);

width: 580px;
height: 50px;
color: rgb(149, 149, 149);
font-family: "Roboto";

font-size: 24px;
font-weight: 400;
line-height: 28px;

margin-bottom: 19px;
}

.group-button {
    border-radius: 10px;
    background: rgb(142, 50, 198);
    font-family: "Roboto";
    display: flex;
    padding: 20px 60px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    margin-bottom: 37px;
} 

.c-r-all-rights-reserved-frame {
  background-color: rgb(2, 22, 53);
  color: white;
}

.email-contact-frames {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    
    display: flex;
    flex-direction: column;
 
}

.email-contact-frames1 {
   display: flex;
   flex-direction: column;
   color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
 
    
  

    
}

.question-support-frames {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgb(155, 155, 155);
}

.email-confirm-frame {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
font-family: "Roboto";
font-size: 18px;
font-weight: 400;
line-height: 21px;
padding-top: 21.72px;
}

.nike-swoosh-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nike-swoosh-footer {
    width: 108px;
    height: 74.85px;
}


.r1 {
 
    
    color: rgb(255, 255, 255);
font-family: "PT Serif";
font-size: 24px;
font-weight: 400;
line-height: 32px;

}

.footer-text-img {
    display: flex;
    justify-content: right;
}

.footer-text {
    display: flex;
    justify-content: space-between;
   
}

.colorawe-all-rights {
    margin-bottom: 6.5px;
}